body {
    display: flex;
    text-align:center;
    margin: 0;
    overflow: hidden;
    background-color: black;
    align-items: center;
    align-content: center;
    justify-content: center;
    
}
.text-center {
    text-align: center;
    align-items: center;
    color: white;
}
.container {
    margin-top: 1rem;
   
  display: flex;
  flex-wrap: wrap;
    width: 70rem;
    height: 56rem;
    display: flex;
    flex-direction: column;
    background: transparent;
    align-items: center;
    border-radius: 60px;
    border: 1px solid white;
    padding-top: 20px;
    
    
    
    
    

}

.button {
    
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    border: 1px solid white;
    margin: 0.6rem;
    font-size: 3rem;
    font-weight: 700;
    background-color: gray;
    transition: box-shadow 0.7s ease-in-out ;
    
    cursor: pointer;
}
.button:hover{
     box-shadow: 0 0 30px white;
}
.button:active{
    background-color: rgba(128, 128, 128, 0.281);
    color: white;
}
.zero {
     width: 15rem;
    height: 7rem;
    border-radius: 20rem;
     margin: 0.6rem;
    font-size: 3rem;
    font-weight: 700;
    

}
.orange:hover{
    box-shadow: 0 0 30px rgb(255, 94, 0) ;
    border: 1px solid rgb(255, 94, 0);
}
.orange:active{
    background-color: rgb(255, 106, 0);
    color: white;
}

.extend{
    width: 11rem;
    height: 7rem;
    border-radius: 20rem;
     margin: 0.6rem;
    font-size: 3rem;
    font-weight: 700;
    background-color: aqua;
}
.extend:active{
    background-color: rgb(37, 137, 219);
    color: rgb(120, 212, 214);
     border: 1px solid rgb(37, 137, 219);
}
.orange{
    background-color: orange;
    transition: box-shadow 0.7s ease-in-out ;
}

.result {
    width:40rem ;
    height: 8.5rem ;
    background-color: white;
    margin-bottom: 20px;
    border-radius: 60px;
    border: 2px solid black;
    font-size: 4rem;
}

@media (max-width:600px) {
    .result {
        width:20rem ;
    }
    .container {
        width: 400px;
         height: 700px;
        margin: 5px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        background: transparent;
        align-items: center;
        border-radius: 60px;
        border: 1px solid white;
        
    }
    .button{
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    border: 1px solid white;
    margin: 0.6rem;
    font-size: 1rem;
    font-weight: 700;
    }
    .zero {
     width: 7.2rem;
    height: 3rem;
    border-radius: 20rem;
     margin: 0.6rem;
    font-size: 1rem;
    font-weight: 700;
    

}
.extend{
    width: 5.1rem;
    height: 3rem;
    border-radius: 20rem;
     margin: 0.6rem;
    font-size: 1rem;
    font-weight: 700;
}
}











