body {
    text-align: center;
    overflow: hidden;
    
    
}
h1{
    font-family: 'Lucida Handwriting', cursive;
    font-size: 60px;
    color: rgb(49, 99, 215);
    margin-top: 20px;
    margin-bottom: 0px;
}

.btn {
    width: 200px;
    height: 200px;
    border: 10px solid black;
    border-radius: 30%;
    margin: 2rem;
    cursor: pointer;
    align-content: center;
}

.btn_container {
    display: flex;
    justify-content: center;
}

.yellow {
    background-color: #f99b45;
}
.red {
    background-color: #d95980;
}
.green {
    background-color: #63aac0;
}
.purple {
    background-color:  #819ff9;
}

.flash {
    background-color: white;
}
.userflash{
    background-color: green;
}

.high-score {
    
    font-family:  Tahoma, sans-serif;
    font-weight: 600;
    color: rgb(49, 99, 215);
    padding-top: 10px;
    width: 190px;
    height: 45px;
    border: 4px solid grey;
    font-size: 24px;
    margin-top: 20px;
    margin-left: 2rem;
    box-shadow: 1px 10px 10px grey;
   
}